@mixin button {
  display: inline-block;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
  color: $color;
  border: 1px solid $color;
  border-radius: 6px;
  white-space: nowrap;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0;
  padding: 10px 12px;
  font-family: $font-family;
  width: auto;
  transition: .3s $easing background-color,
              .3s $easing transform,
              .2s $easing color;

  &:hover {
    background-color: $color;
    color: $cLight;
  }

  &:active {
    background-color: $color;
    color: $cLight;
    transform: scale(.95);
  }

  &:disabled {
    pointer-events: none;
    opacity: .6;
  }
}

.button,
button,
input[type="button"],
input[type="submit"] {
  @include button;
}

