html {
  scroll-behavior: smooth;
}

body {
  color: $color;
  background: #fff;
  font: #{$font-size__small}/1.4 $font-family;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  min-height: 100dvh;
  letter-spacing: 0%;
  @include desktop {
    font-size: $font-size;
    line-height: 1.25;
  }
}

a {
  color: $color;
  text-decoration: none;
  transition: .2s $easing color,
    .2s $easing opacity;

  &:hover,
  &.hover {
    text-decoration: none;
    outline: none;
  }

  &:active,
  &.active {
    outline: none;
  }
}

p {
  margin: 0 0 20px;
}

img,
video {
  max-width: 100%;
}

button,
input,
textarea {
  &:focus {
    outline: none;
  }
}

table {
  border-collapse: collapse;
  min-width: 100%;
}

ol,
ul {
  padding: 0 0 0 20px;
  margin: 0 0 20px;
}

