@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url('/fonts/AlteHaasGrotesk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url('/fonts/AlteHaasGroteskBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paradigm';
  src: url('/fonts/ParadigmLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

