.cards-wrapper {
  background: #F2EFEA;
  position: relative;
  z-index: 1;
  padding-bottom: 220px;
}

.cards {
  top: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 180px;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  border-radius: 12px;
  padding: 50px 36px 44px;
  transform-origin: center;
  max-width: 80%;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 16px;
  transform: translateY(calc((1 - var(--progress)) * 500px)) rotate(calc(var(--degree) * (1 - var(--progress))));
  transition: all .1s $easingSmooth;
  @include tablet {
    padding: 9dvh 8dvh 7dvh;
    gap: 3dvh;
    max-width: 594px;
    margin-bottom: 24px;
  }

  & ~ & {
    transform: translateY(calc((1 - var(--progress)) * 200px - 35vh * var(--progress) * var(--index))) rotate(calc(var(--degree) * (1 - var(--progress))));
    margin-top: -50px;
    @include tablet {
      transform: translateY(calc((1 - var(--progress)) * 500px - 55vh * var(--progress) * var(--index))) rotate(calc(var(--degree) * (1 - var(--progress))));
      margin-top: -100px;
    }
  }

  p {
    font-size: 20px;
    line-height: 1;
    margin: 0;
    color: $cLight;
    @include tablet {
      font-size: 32px;
      line-height: 38px;
    }

    span {
      font-family: $font-family-grit;
    }
  }

  img {
    @include tablet {
      margin-bottom: 8dvh;
    }
  }

  video {
    height: 60px;
  }
}
