.cards-wrapper {
  background: #F2EFEA;
  position: relative;
  margin-top: -200px;
  margin-bottom: -200px;
  position: relative;
  z-index: 1;
  @include tablet {
    margin-bottom: -400px;
  }
}

.cards {
  position: sticky;
  top: 0;
  // height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  border-radius: 12px;
  padding: 50px 36px 44px;
  transform-origin: center;
  max-width: 594px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 16px;
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s $easingSmooth;
  @include tablet {
    padding: 100px 100px 70px;
    gap: 40px;
    margin-bottom: 24px;
  }

  &.active {
    opacity: 1;
    transform: translateY(0);
    background: #4caf50;
    color: white;

    & ~ & {
      transform: translateY(-65%);
    }
  }

  p {
    font-size: 20px;
    line-height: 1;
    margin: 0;
    color: $cLight;
    @include tablet {
      font-size: 26px;
      line-height: 32px;
    }

    span {
      font-family: $font-family-grit;
    }
  }

  video {
    height: 60px;
  }
}
