.cards {
  padding: 80px 0;

  &_holder {
    @include layout;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  border-radius: 12px;
  padding: 50px 36px 44px;
  transform-origin: center;
  max-width: 594px;
  box-sizing: border-box;
  text-align: center;
  @include tablet {
    padding: 100px 100px 70px;
    gap: 40px;
  }

  p {
    font-size: 20px;
    line-height: 1;
    margin: 0;
    color: $cLight;
    @include tablet {
      font-size: 26px;
      line-height: 32px;
    }

    span {
      font-family: $font-family-grit;
    }
  }
}
