.columns {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }

  & > * {
    @include tablet {
      flex: 1 1 0;
      min-width: 0;
    }
  }
}
