.fade {
  background: currentColor;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transform: translateY(100%);
  transition: 1s $easeInOutCirc transform .2s,
              .3s $easeInOutCirc background;

  .popup-opened & {
    pointer-events: all;
    transform: translateY(0%);
  }
}
