.filters {
  &_holder {
    position: relative;
  }

  &_results {
    border-radius: 100px;
    background-color: $cLight;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    min-width: 326px;
  }

  &_results-count {
    font-size: 16px;
    border-radius: 100px;
    line-height: 24px;
    color: $cLight;
    background-color: $color;
    padding: 12px 16px 12px 36px;
    position: relative;

    &::before {
      content: '';
      height: 10px;
      width: 10px;
      background-color: $cLight;
      border-radius: 50%;
      position: absolute;
      left: 16px;
      top: 19px;
    }
  }

  &_popup {
    bottom: calc(100% + 16px);
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    translate: 0 50px;
    transition: .2s $easing opacity,
                .3s $easing translate;

    &.opened {
      opacity: 1;
      pointer-events: all;
      translate: 0 0;
    }
  }

  &_items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start
  }

  &_item {
    @include button-reset;
    font-size: 20px;
    text-transform: uppercase;
    padding: 16px 22px;
    border-radius: 100px;
    background-color: $cBlue;
    color: $cLight;
  }

  &_menu {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 12px;
  }

  &_menu-link {
    font-size: 16px;
    color: $color;
    background-color: $cLight;
    border-radius: 100px;
    text-decoration: none;
    padding: 6px 14px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;

    &:hover {
      color: $cBright;
      text-decoration: none;
    }

    &:active {
      opacity: .8;
    }
  }
}
