.footer {
  position: fixed;
  z-index: 9;
  bottom: $indent;
  left: $indent;
  right: $indent;
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet {
    bottom: 32px;
  }
}
