.header {
  left: $indent;
  right: $indent;
  top: 52px;
  z-index: 11;
  position: absolute;
  box-sizing: border-box;
  mix-blend-mode: difference;
  @include tablet {
    top: 10px;
    left: 20px;
    right: 20px;
  }
  @include desktop {
    left: 38px;
    right: 38px;
  }

  &_holder {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 30px;
    @include tablet {
      justify-content: stretch;
    }
  }
}
