.header {
  left: $indent;
  right: $indent;
  top: $indent;
  z-index: 11;
  position: fixed;
  box-sizing: border-box;

  &_holder {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding: 15px 18px;
  }
}
