%heading-1 {
  font-family: $font-family;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin: 0;
  @include tablet {
    font-size: 66px;
    line-height: 1;
  }
}

%heading-2 {
  font-family: $font-family;
  font-size: 30px;
  line-height: 1;
  font-weight: 500;
  margin: 80px 0 40px;
}

%heading-3 {
  font-family: $font-family;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 48px;
  margin-bottom: 24px;

  @include tablet {
    font-size: 32px;
  }
}

%heading-4 {
  font-family: $font-family;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 400;

  @include desktop {
    font-size: 26px;
  }
}

%heading-5 {
  font-family: $font-family;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;

  @include desktop {
    font-size: 13px;
  }
}

h1,
.heading-1 {
  @extend %heading-1;
}

h2,
.heading-2 {
  @extend %heading-2;
}

h3,
.heading-3 {
  @extend %heading-3;
}

h4,
.heading-4 {
  @extend %heading-4;
}

h5,
.heading-5 {
  @extend %heading-5;
}
