.logo {
  font-size: 26px;
  line-height: 1;
  color: #fff;
  position: absolute;
  left: 16px;
  bottom: 16px;
  z-index: 2;
  mix-blend-mode: difference;
  max-width: 60%;
  @include tablet {
    left: 32px;
    bottom: 26px;
    font-size: 32px;
  }

  span {
    display: block;
    font-size: 28px;
    font-family: $font-family-grit;
    margin-top: 6px;
    @include tablet {
      font-size: 33px;
    }
  }
}
