.logo {
  font-size: 26px;
  line-height: 30px;
  color: #fff;
  position: absolute;
  left: 16px;
  bottom: 16px;
  z-index: 2;
  mix-blend-mode: difference;
  max-width: 60%;
  overflow: hidden;
  @include tablet {
    left: 32px;
    bottom: 26px;
    font-size: 32px;
    line-height: 38px;
  }

  &_text {
    @include text-appearance;
    transition-delay: 3s;
    transition-duration: .5s;
  }

  span {
    display: block;
    font-size: 28px;
    font-family: $font-family-grit;
    line-height: 30px;
    @include tablet {
      font-size: 33px;
      line-height: 41px;
    }
  }
}
