.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  pointer-events: none;
  transform: translateY(120%);
  transition: 1.5s $easeInOutCirc transform .2s;

  .popup-opened & {
    pointer-events: all;
    transform: translateY(0%);
  }

  &_close {
    @include button-reset;
    position: fixed;
    left: 50%;
    bottom: 16px;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background: $cLight url(#{$img}/close.svg) no-repeat center;
    margin-left: -36px;
    z-index: 3;
    transform-origin: center;
    scale: 1;
    transition: .2s $easing filter,
                .2s $easing scale;
    @include tablet {
      bottom: 32px;
    }

    &:hover {
      filter: invert(1);
      background-color: $cLight;
    }

    &:active {
      scale: 0.9;
    }
  }

  &_content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    overflow: auto;
  }
}

.popup-wrapper {
  transition: .3s $easeInOutCirc color;
}
