.projects {
  position: relative;
  z-index: 3;
  @include tablet {
    z-index: initial;
  }

  &[data-scalable="true"] {
    background-color: #2A2828;
  }

  .popup & {
    padding: 0;
  }

  &__small {
    transform: scale(1);
    opacity: 1;
    transform-origin: top center;
    transition: .5s $easeInCirc opacity,
                .5s $easeInCirc transform;

    .popup-opened & {
      pointer-events: all;
      transform: scale(.9);
      opacity: 0.8;
    }
  }


  &_holder {
  }
}
