.project {
  border-radius: 12px;
  overflow: hidden;
  transform-origin: center;
  transition: .2s $easing transform,
              1s $easing padding,
              1s $easing max-height;
  max-height: 256px;
  width: 100%;
  overflow: hidden;
  padding: 28px 16px;
  box-sizing: border-box;
  position: relative;

  &__small {
    width: 20%;
  }

  &__medium {
    width: 40%;
  }

  &.opened {
    max-height: 10000px;
  }

  &_image {
    width: 100%;
    display: block;

    &__without-indent {
      margin-bottom: -10px;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    img,
    video {
      max-width: 100%;
      border-radius: 22px;
    }
  }

  &_categories {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &_category {
    font-size: 16px;
    height: 38px;
    line-height: 41px;
    border: 1px solid currentColor;
    border-radius: 100px;
    padding: 0 14px;
    color: currentColor;
    text-decoration: none;
  }

  &_men {
    position: absolute;
    right: -8vw;
    top: 25vw;
    width: 55vw;
  }

  &_description {
    text-align: center;
    max-width: 1100px;
    margin: 80px auto;
    font-size: 18px;
    line-height: 24px;
    width: 85%;
    @include tablet {
      width: auto;
      font-size: 28px;
      line-height: 36px;
    }

    &__absolute {
      position: absolute;
      top: 12vw;
      left: 50%;
      transform: translateX(-50%);
      @include tablet {
        top: 16vw;
      }
    }
  }

  &_media {
    position: relative;
  }

  &_media-label {
    position: absolute;
    right: 30px;
    bottom: 26px;
    font-size: 18px;
    font-weight: 700;
    @include tablet {
      max-width: 60%;
    }
  }
}
