.project {
  overflow: hidden;
  transform-origin: center;
  transition: .2s $easing transform,
              1s $easing padding;
  width: 100%;
  overflow: hidden;
  padding: 28px 16px;
  box-sizing: border-box;
  position: relative;

  &__small {
    width: 20%;
  }

  &__medium {
    width: 40%;
  }

  &__mini {
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet {
      height: 256px;
    }

    &.project__align-top {
      align-items: flex-start;
    }
  }

  &_image {
    width: 100%;
    display: block;

    &__without-indent {
      margin-bottom: -10px;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    img,
    video {
      max-width: 100%;
      border-radius: 22px;
    }
  }

  &_categories {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &_category {
    font-size: 16px;
    height: 38px;
    line-height: 41px;
    border: 1px solid currentColor;
    border-radius: 100px;
    padding: 0 14px;
    color: currentColor;
    text-decoration: none;
  }

  &_men {
    position: absolute;
    right: -8vw;
    top: 25vw;
    width: 55vw;
  }

  &_description {
    text-align: center;
    max-width: 1100px;
    margin: 80px auto;
    font-size: 18px;
    line-height: 24px;
    width: 85%;
    @include tablet {
      width: auto;
      font-size: 28px;
      line-height: 36px;
    }

    &__absolute {
      position: absolute;
      top: 12vw;
      left: 50%;
      transform: translateX(-50%);
      @include tablet {
        top: 16vw;
      }
    }
  }

  &_media {
    position: relative;
  }

  &_media-label {
    position: absolute;
    right: 30px;
    bottom: 26px;
    font-size: 18px;
    font-weight: 700;
    @include tablet {
      max-width: 60%;
    }
  }

  &_more {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 20px;
    translate: -50% -50%;
    opacity: 0;
    transition: .2s $easing opacity,
                .3s $easing background-color,
                .2s $easing color;;

    .project:hover & {
      opacity: 1;
    }

    span {
      font-family: $font-family-paradigm;
      font-size: 24px;
    }
  }

  &_thumbail-video {
    position: absolute;
    left: 50%;
    bottom: 0;
    translate: -50% 50%;
  }
}
