.showcase {
  height: calc(100dvh - 16px);
  position: fixed;
  top: 8px;
  left: 8px;
  width: calc(100vw - 16px);
  background-color: $cLight;
  z-index: 2;

  &_video {
    animation: video-appearance 3s ease-in forwards;
    animation-play-state: paused;
    width: 100%;
    height: 100dvh;
    object-fit: cover;
    pointer-events: none;
    border-radius: 22px;

    .ready & {
      animation-play-state: running;
    }
  }

  &_name,
  &_surname {
    letter-spacing: -3%;
    position: absolute;
    top: 50%;
    z-index: 2;
    left: 50%;

    .ready & {
      animation-play-state: running;
    }
  }

  &_name {
    animation: name-appearance 3s ease-in forwards;
    animation-play-state: paused;
    font-size: 32px;
    translate: -120px -50%;
    @include desktop {
      font-size: 120px;
    }
  }

  &_surname {
    animation: surname-appearance 3s ease-in forwards;
    animation-play-state: paused;
    font-family: $font-family-grit;
    font-size: 34px;
    translate: 35px -50%;
    left: auto;
    right: 50%;
    @include desktop {
      font-size: 122px;
    }
  }
}

@keyframes video-appearance {
  0% {
    scale: 0;
  }

  30% {
    scale: 0;
  }

  45% {
    scale: 0.2;
  }

  80% {
    scale: 0.2;
  }

  100% {
    scale: 0.63;
  }
}

@keyframes name-appearance {
  0% {
    opacity: 0;
    translate: -101% 50%;
  }

  15% {
    opacity: 1;
    translate: -101% -50%;
  }

  30% {
    opacity: 1;
    translate: -101% -50%;
  }

  45% {
    translate: calc(-100% - 10vw - 10px) -50%;
  }

  85% {
    translate: calc(-100% - 10vw - 10px) -50%;
    opacity: 1;
  }

  88% {
    opacity: 0;
    translate: calc(-100% - 10vw - 10px) -50%;
  }

  100% {
    opacity: 0;
    translate: calc(-100% - 10vw - 10px) -50%;
  }
}

@keyframes surname-appearance {
  0% {
    opacity: 0;
    translate: 101% 50%;
  }

  15% {
    opacity: 1;
    translate: 101% -50%;
  }

  30% {
    translate: 101% -50%;
  }

  45% {
    translate: calc(100% + 10vw + 10px) -50%;
  }

  85% {
    translate:  calc(100% + 10vw + 10px) -50%;
    opacity: 1;
  }

  88% {
    opacity: 0;
    translate:  calc(100% + 10vw + 10px) -50%;
  }

  100% {
    opacity: 0;
    translate: calc(-100% - 10vw - 10px) -50%;
  }
}
