.showcase {
  margin: 0 0 48px;
  height: 100dvh;
  @include tablet {
    margin-bottom: 80px;
  }

  &_video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
  }
}
