.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 4px;
  @include tablet {
    flex-direction: row;
    width: 100%;
  }

  &_link {
    border-radius: 6px;
    display: block;
    background-color: $color;
    color: #fff;
    font-size: 22px;
    font-family: $font-family-grit;
    line-height: 1;
    font-weight: 400;
    mix-blend-mode: difference;
    position: relative;
    z-index: 2;
    padding: 4px 12px 6px;
    transition: .2s background-color $easing,
                .3s transform $easing,
                .3s color $easing;
    @include tablet {
      font-size: 28px;
      line-height: 30px;
    }

    &:hover {
      text-decoration: none;
      background-color: $cLight;
      color: $color;
    }

    &:active {
      transform: scale(.95);
    }

  }
}
