.socials {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 12px;
  position: absolute;
  bottom: 10px;
  left: 12px;
  right: 12px;
  z-index: 2;
  mix-blend-mode: difference;

  &_link {
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;

    &:hover {
      opacity: .6;
      text-decoration: none;
    }

    &:active {
      opacity: .8;
    }
  }
}
