---
import Projects from '../components/Projects.astro';
import Layout from '../layouts/Layout.astro';

import '../styles/scss/style.scss';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="showcase">
    <video src="/public/images/showcase.mp4" class="showcase_video" muted autoplay playsinline>
    </video>

    <marquee class="showcase_text" scrollamount="20">Помогаю в разработке сложных ИИ решений, в создании мобильныx игр, любого интерактива и логотипов</marquee>
  </div>

	<Projects />
</Layout>
