---
import Cards from '../components/Cards.astro';
import Projects from '../components/Projects.astro';
import ProjectsList from '../components/ProjectsList.astro';
import Layout from '../layouts/Layout.astro';

import '../styles/scss/style.scss';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="showcase">
    <video src="/public/images/projects/main/main_video.mp4" class="showcase_video" muted autoplay playsinline loop>
    </video>
  </div>

  <div class="intro">
    <h1 class="intro_title">I help build complex AI solutions, mobile or online games, <span>engaging interaction storytelling, and distinctive branding</span></h1>

    <marquee class="intro_line">
      <div class="intro_logos">
        <img src="/public/images/projects/main/logos/1.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/2.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/3.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/4.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/5.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/1.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/2.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/3.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/4.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/5.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/1.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/2.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/3.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/4.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/5.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/1.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/2.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/3.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/4.svg" alt="" class="intro_logo">
        <img src="/public/images/projects/main/logos/5.svg" alt="" class="intro_logo">
      </div>
    </marquee>
  </div>

	<ProjectsList />

  <div class="visionary">
    <img src="/public/images/art-tech.svg" alt="" class="visionary_image">
    <a href="#" class="button">Open to collaborations</a>
    <h3 class="visionary_text">
      <strong>My experience includes implementing</strong> <span>AI in production</span>, developing brand identities and crafting complex 3D visual solutions.
    </h3>
  </div>

  <Cards />

	<Projects />

  <div class="popup">
    <div class="fade js-popup-toggle"></div>
    <button class="popup_close js-popup-toggle">close</button>
    <div class="popup_content js-popup-content">
      <Projects />
    </div>
  </div>

</Layout>
