---
import Loader from '../components/Loader.astro';
import Collaboration from '../components/Collaboration.astro';
import Projects from '../components/Projects.astro';
import ProjectsList from '../components/ProjectsList.astro';
import Layout from '../layouts/Layout.astro';

import '../styles/scss/style.scss';

---

<Layout>
  <Loader />

  <div class="content">
    <div class="intro">
      <h1 class="intro_title">I help build complex<span> AI solutions, mobile or online games, engaging interaction storytelling, and distinctive branding</span></h1>

      <div class="intro_line">
        <div class="intro_logos">
          <img src="/images/projects/main/logos/1.svg" alt="" class="intro_logo">
          <img src="/images/projects/main/logos/2.svg" alt="" class="intro_logo">
          <img src="/images/projects/main/logos/3.svg" alt="" class="intro_logo">
          <img src="/images/projects/main/logos/4.svg" alt="" class="intro_logo">
          <img src="/images/projects/main/logos/5.svg" alt="" class="intro_logo">
          <img src="/images/projects/main/logos/1.svg" alt="" class="intro_logo intro_logo__tablet">
          <img src="/images/projects/main/logos/2.svg" alt="" class="intro_logo intro_logo__tablet">
          <img src="/images/projects/main/logos/3.svg" alt="" class="intro_logo intro_logo__tablet">
          <img src="/images/projects/main/logos/4.svg" alt="" class="intro_logo intro_logo__tablet">
          <img src="/images/projects/main/logos/5.svg" alt="" class="intro_logo intro_logo__tablet">
          <img src="/images/projects/main/logos/1.svg" alt="" class="intro_logo intro_logo__desktop">
          <img src="/images/projects/main/logos/2.svg" alt="" class="intro_logo intro_logo__desktop">
          <img src="/images/projects/main/logos/3.svg" alt="" class="intro_logo intro_logo__desktop">
          <img src="/images/projects/main/logos/4.svg" alt="" class="intro_logo intro_logo__desktop">
          <img src="/images/projects/main/logos/5.svg" alt="" class="intro_logo intro_logo__desktop">
        </div>
      </div>
    </div>

    <ProjectsList />

    <div class="visionary">
      <h3 class="visionary_title">
        My experience includes implementing <span>AI in production, developing brand identities and crafting complex 3D visual solutions.</span>
      </h3>
    </div>

    <Collaboration />

  </div>
  <Projects withBackground withScale />

  <div class="popup-wrapper">
    <div class="fade js-popup-toggle"></div>
    <div class="popup">
      <button class="popup_close js-popup-toggle"></button>
      <div class="popup_content js-popup-content" data-lenis-prevent>
        <Projects />
      </div>
    </div>
  </div>

</Layout>
