---
const posts = Object.values(import.meta.glob('../pages/cards/*.md', { eager: true }));
---

<div class="cards">
  <div class="cards_holder">
    {posts.map(post =>
      <div class="card" style={`background-color: ${post.frontmatter.color}; rotate: ${post.frontmatter.rotation}`}>
        <img src={post.frontmatter.icon} alt="" />
        {<Fragment set:html={post.compiledContent()}/>}
      </div>
      )
    }
  </div>
</div>
