<div class="filters">
  <div class="filters_holder">
    <div class="filters_results">
      <span class="filters_results-count">Все работы <span>46</span></span>
      <svg class="filters_results-icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M37.5 20C37.5 10.335 29.665 2.5 20 2.5C10.335 2.5 2.5 10.335 2.5 20C2.5 29.665 10.335 37.5 20 37.5C29.665 37.5 37.5 29.665 37.5 20Z" stroke="black" stroke-width="1.36477" stroke-miterlimit="10" stroke-linejoin="round"></path>
        <path d="M20.0754 11.1134L25.1584 15.8204L25.1917 15.8507L25.1614 15.8839L24.2395 16.9005L24.2083 16.9347L24.1741 16.9034L20.7493 13.6808V26.7423L24.1741 23.5206L24.2083 23.4894L24.2395 23.5236L25.1614 24.5402L25.1917 24.5734L25.1584 24.6036L20.0754 29.3107L20.0442 29.339L20.0139 29.3107L14.9299 24.6036L14.8977 24.5734L14.928 24.5402L15.8499 23.5236L15.8811 23.4894L15.9153 23.5206L19.3401 26.7423V13.6808L15.9153 16.9034L15.8811 16.9347L15.8499 16.9005L14.928 15.8839L14.8977 15.8507L14.9299 15.8204L20.0139 11.1134L20.0442 11.0851L20.0754 11.1134Z" fill="black" stroke="black" stroke-width="0.0909845"></path>
      </svg>
    </div>

    <div class="filters_popup">
      <div class="filters_items">
        <button class="filters_item">Игры 14</button>
        <button class="filters_item">Ивенты 2</button>
        <button class="filters_item">Сайты 12</button>
        <button class="filters_item">Логотипы 8</button>
        <button class="filters_item">3D 32</button>
      </div>

      <div class="filters_menu">
        <a href="" class="filters_menu-link">
          Дрибббл
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8166 7.188C17.6991 6.61029 17.5217 6.04029 17.292 5.496C17.0666 4.962 16.7871 4.44771 16.4623 3.96686C16.1409 3.49029 15.7706 3.04286 15.3643 2.63571C14.958 2.22857 14.5089 1.85829 14.0323 1.53686C13.5523 1.21114 13.0371 0.932571 12.504 0.706286C11.9606 0.477428 11.3914 0.299143 10.812 0.181714C10.2197 0.0617142 9.61029 0 9 0C8.38971 0 7.78029 0.0617145 7.18714 0.183429C6.60857 0.300857 6.03943 0.478286 5.496 0.708C4.96286 0.933429 4.44857 1.212 3.96686 1.53771C3.49029 1.85914 3.04286 2.22943 2.63571 2.63657C2.22857 3.04371 1.86 3.49114 1.53771 3.96771C1.21286 4.44857 0.933429 4.96286 0.708 5.49686C0.478286 6.04114 0.300857 6.61029 0.182571 7.18886C0.060857 7.78029 0 8.38971 0 8.99914C0 9.61029 0.060857 10.2197 0.182571 10.8129C0.301714 11.3914 0.478286 11.9606 0.708 12.504C0.933429 13.0371 1.21286 13.5531 1.53771 14.034C1.86 14.5097 2.22857 14.9571 2.63571 15.3643C3.04286 15.7714 3.49029 16.14 3.96686 16.4623C4.44771 16.7871 4.962 17.0666 5.496 17.292C6.03943 17.5226 6.60857 17.6983 7.18714 17.8166C7.78029 17.9391 8.38971 18 9 18C9.60943 18 10.2189 17.9391 10.812 17.8166C11.3914 17.6983 11.9606 17.5217 12.504 17.292C13.0371 17.0666 13.5523 16.7871 14.0323 16.4623C14.5089 16.14 14.958 15.7714 15.3643 15.3643C15.7714 14.9563 16.1409 14.5097 16.4623 14.0331C16.7871 13.5523 17.0666 13.0371 17.292 12.5031C17.5217 11.9597 17.6991 11.3906 17.8166 10.812C17.9383 10.2197 18 9.60943 18 8.99829C18 8.38971 17.9383 7.78029 17.8166 7.188ZM16.6834 8.92371C16.572 8.89971 13.9706 8.34 11.3297 8.67171C11.2757 8.54057 11.2209 8.40771 11.1643 8.27486C11.004 7.89857 10.8317 7.52657 10.6534 7.15971C13.6886 5.92114 14.9211 4.13914 14.9357 4.11771C16.0131 5.42657 16.6654 7.09971 16.6834 8.92371ZM14.076 3.23143C14.0571 3.26143 12.9626 4.92771 10.0611 6.01457C8.74714 3.60086 7.30371 1.68257 7.18886 1.53086C7.76914 1.39029 8.37514 1.314 9 1.314C10.9466 1.314 12.7226 2.03914 14.076 3.23143ZM7.15971 1.53686L7.158 1.53857L7.13486 1.54371C7.14257 1.54114 7.15114 1.54029 7.15971 1.53686ZM5.72143 2.04857C5.82343 2.18571 7.24457 4.11257 8.57486 6.47743C4.884 7.458 1.68171 7.41943 1.47857 7.416C1.97829 5.03486 3.57771 3.06086 5.72143 2.04857ZM1.314 8.99914C1.314 8.91686 1.31743 8.83714 1.32086 8.75657C1.45629 8.75914 5.25343 8.84571 9.21086 7.662C9.432 8.09314 9.642 8.53114 9.83486 8.96829C9.73371 8.99657 9.63257 9.02743 9.53229 9.06C5.38457 10.4006 3.28114 14.1334 3.28114 14.1334C3.28114 14.1334 3.28371 14.1351 3.28371 14.1369C2.05971 12.7749 1.314 10.974 1.314 8.99914ZM9 16.686C7.13914 16.686 5.43343 16.0243 4.10314 14.9246C4.20514 15.006 4.27543 15.0591 4.27543 15.0591C4.27543 15.0591 5.74886 11.8457 10.3071 10.2583C10.3234 10.2523 10.3406 10.2463 10.3577 10.242C11.4394 13.0517 11.886 15.4054 12 16.0774C11.0786 16.47 10.0646 16.686 9 16.686ZM13.2951 15.3754C13.2171 14.9109 12.8074 12.6549 11.7994 9.88457C14.2809 9.48771 16.4306 10.1683 16.5891 10.2206C16.2463 12.3617 15.0206 14.2097 13.2951 15.3754Z" fill="currentColor"/>
          </svg>
        </a>
        <a href="" class="filters_menu-link">
          Инстаграм
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.0632 4.05608C15.0632 3.6269 14.878 3.30713 14.5078 3.09675C14.1375 2.88637 13.7672 2.88637 13.397 3.09675C13.0267 3.30713 12.8416 3.63532 12.8416 4.05608C12.8416 4.79661 13.2118 5.16688 13.9524 5.16688C14.6929 5.16688 15.0632 4.79661 15.0632 4.05608Z" fill="currentColor"/>
            <path d="M9.00414 12.0842C6.94243 12.0842 5.91578 11.0575 5.91578 8.99582C5.91578 6.9341 6.94243 5.90746 9.00414 5.90746C11.0659 5.90746 12.0925 6.9341 12.0925 8.99582C12.0925 11.0575 11.0659 12.0842 9.00414 12.0842ZM9.00414 4.44322C7.75028 4.44322 6.67314 4.88922 5.78955 5.77281C4.89755 6.66482 4.45996 7.73354 4.45996 8.9874C4.45996 10.2413 4.90596 11.3184 5.78955 12.202C6.68156 13.094 7.75028 13.5316 9.00414 13.5316C10.258 13.5316 11.3351 13.0856 12.2187 12.1936C13.1023 11.3016 13.5483 10.2328 13.5483 8.97899C13.5483 7.72513 13.1023 6.64799 12.2187 5.7644C11.3267 4.87239 10.258 4.43481 9.00414 4.42639" fill="currentColor"/>
            <path d="M9.00421 0C6.56382 0 6.25246 0.00841515 5.29313 0.0504909C4.3338 0.0925666 3.67742 0.244039 3.10519 0.471248C2.4993 0.698457 1.96914 1.04348 1.51473 1.50631C1.05189 1.96073 0.706872 2.49088 0.479663 3.09677C0.26087 3.669 0.100982 4.32539 0.058906 5.28471C0.0168303 6.24404 0 6.54698 0 8.99579C0 11.4446 0.00841515 11.7475 0.0504909 12.7069C0.0925666 13.6662 0.244039 14.3226 0.471248 14.8948C0.698457 15.5007 1.04348 16.0309 1.50631 16.4853C1.96073 16.9481 2.49088 17.2931 3.09677 17.5203C3.669 17.7391 4.32539 17.899 5.28471 17.9411C6.24404 17.9832 6.5554 18 8.99579 18C11.4362 18 11.7475 17.9916 12.7069 17.9495C13.6662 17.9074 14.3226 17.756 14.8948 17.5288C15.5007 17.3015 16.0309 16.9565 16.4853 16.4937C16.9481 16.0393 17.2931 15.5091 17.5203 14.9032C17.7391 14.331 17.899 13.6746 17.9411 12.7153C17.9832 11.756 18 11.4446 18 9.00421C18 6.56382 17.9916 6.25245 17.9495 5.29313C17.9074 4.3338 17.756 3.67742 17.5288 3.10519C17.3015 2.4993 16.9565 1.96914 16.4937 1.51473C16.0393 1.05189 15.5091 0.706872 14.9032 0.479663C14.331 0.26087 13.6746 0.100982 12.7153 0.058906C11.756 0.0168303 11.4446 0 9.00421 0ZM9.00421 1.41374C11.4783 1.41374 11.7644 1.42216 12.7405 1.46424C13.641 1.50631 14.1374 1.65778 14.4572 1.78401C14.8864 1.95231 15.1978 2.15428 15.5175 2.47405C15.8457 2.79383 16.0393 3.10519 16.2076 3.53436C16.3338 3.86255 16.4853 4.35063 16.5273 5.25105C16.5694 6.22721 16.5778 6.52174 16.5778 8.99579C16.5778 11.4698 16.5694 11.756 16.5273 12.7321C16.4853 13.6325 16.3338 14.129 16.2076 14.4488C16.0393 14.878 15.8373 15.1893 15.5175 15.5091C15.2146 15.8205 14.8612 16.0477 14.4488 16.1992C14.1206 16.3254 13.6325 16.4769 12.7321 16.5189C11.756 16.561 11.4614 16.5694 8.99579 16.5694C6.53016 16.5694 6.23562 16.561 5.25947 16.5189C4.35905 16.4769 3.87097 16.3254 3.54278 16.1992C3.1136 16.0309 2.80224 15.8289 2.48247 15.5091C2.17111 15.2062 1.9439 14.8527 1.79243 14.4488C1.6662 14.1206 1.51473 13.6325 1.47265 12.7321C1.43058 11.756 1.42216 11.4614 1.42216 8.98738C1.42216 6.51332 1.43058 6.21879 1.47265 5.24264C1.51473 4.34222 1.6662 3.85414 1.79243 3.52595C1.96073 3.09677 2.16269 2.78541 2.48247 2.45722C2.78541 2.14586 3.13885 1.91865 3.55119 1.76718C3.87938 1.64095 4.36746 1.48948 5.26788 1.44741C6.24404 1.40533 6.53857 1.39691 9.00421 1.39691" fill="currentColor"/>
          </svg>
        </a>
        <a href="" class="filters_menu-link">
          ТикТок
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3661 0C12.6777 6.59534e-05 12.922 0.257279 12.922 0.563784C12.9248 2.91798 14.7888 4.81764 17.0779 4.82039C17.3897 4.82046 17.6337 5.07794 17.6338 5.38418V8.82762C17.6337 9.13401 17.3894 9.39062 17.0779 9.39069C15.6222 9.39423 14.1928 9.01757 12.922 8.30171V11.5815C12.9217 14.6852 10.7476 17.3493 7.75221 17.8982C4.33447 18.5244 1.07539 16.197 0.46517 12.7119C-0.12568 9.33695 1.98158 6.09934 5.21982 5.3313L5.53709 5.26413C5.57049 5.25801 5.60382 5.25556 5.63569 5.25556C5.94751 5.25581 6.19155 5.51312 6.19162 5.81934V9.40355C6.19162 9.61869 6.07039 9.81772 5.87578 9.91231C5.2487 10.2165 4.84553 10.8647 4.8454 11.5801C4.84532 12.6044 5.65551 13.427 6.64465 13.4272C7.57202 13.4273 8.34251 12.7052 8.43532 11.7709L8.44461 11.5815V0.563784C8.44461 0.257328 8.68897 0.000148587 9.00054 0H12.3661ZM9.55717 11.5815C9.55717 12.6416 9.00412 13.6238 8.10305 14.1561C6.70709 14.9806 4.92484 14.4887 4.12227 13.0664C3.3422 11.6839 3.77057 9.92503 5.07905 9.07414V6.54033C2.94957 7.23346 1.48058 9.26253 1.47984 11.5787C1.47925 14.5043 3.7954 16.8683 6.64322 16.8692C9.40235 16.8699 11.6646 14.6527 11.8037 11.8538L11.8102 11.5815V7.27632C11.8102 7.15944 11.8457 7.04498 11.9131 6.94905C12.0915 6.69501 12.4416 6.63517 12.6926 6.81972L12.6934 6.82043C13.8173 7.64998 15.1434 8.14042 16.5219 8.24168V5.91652C14.051 5.64627 12.102 3.64704 11.8402 1.12757H9.55717V11.5815Z" fill="currentColor"/>
          </svg>
        </a>
        <a href="" class="filters_menu-link">
          Телеграм
          <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.3351 0.657593L0.513672 6.45898L4.67002 8.94123L5.58282 14.5777L9.6382 11.66" stroke="currentColor" stroke-width="1.14826" stroke-linejoin="bevel"/>
            <path d="M7.41919 9.94464L17.4862 0.555176L14.939 15.4448L7.41919 9.94464Z" stroke="currentColor" stroke-width="1.14826" stroke-linejoin="bevel"/>
          </svg>
        </a>
      </div>
    </div>
  </div>


</div>

<script>
function toggleMenu(e) {
  e.preventDefault();

  document.querySelector('.filters_popup')?.classList.toggle('opened');
}

document.querySelector('.filters_results')?.addEventListener('click', toggleMenu);
</script>
