<section class="showcase">

  <span class="showcase_name">
    Dmitry
  </span>

  <video class="showcase_video" muted loop playsinline autoplay poster="/images/projects/main/main_video_mobile_poster.webp">
    <source src="/images/projects/main/main_video.webm" type="video/webm" media="(min-width: 768px)">
    <source src="/images/projects/main/main_video_mobile.webm" type="video/webm">
    <source src="/images/projects/main/main_video_mobile.mp4" type="video/mp4">
  </video>

  <span class="showcase_surname">
    Zelinsky
  </span>

</section>

<script>
  window.scrollTo(0, 0);
  document.body.style.overflow = 'hidden';

  document.addEventListener("DOMContentLoaded", () => {
    document.body.classList.add('ready');

    setTimeout(() => {
        document.body.classList.add('loaded');
      document.body.style.overflow = 'auto';
    }, 3000);

    const video = document.querySelector('.showcase_video') as HTMLVideoElement;
    if (video) {
      const scrollEnd = window.innerHeight / 2;

      window.addEventListener('scroll', () => {
        const progress = Math.min(window.scrollY / scrollEnd, 1);
        const scale = 0.63 + progress * (1 - 0.63);
        video.style.setProperty('scale', String(scale), 'important');
      });
    }
  });
</script>
