---

const { title, thumbnail, content } = Astro.props;

---

<div class="project" title={title}>
	<img src={thumbnail} alt="" class="project_image">

  <div class="project_content">{content}</div>
</div>
