---
import Filters from '../components/Filters.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.10.76/build/spline-viewer.js"></script>
    <script is:inline src="/js/js-3d-model-viewer.js"></script>
    <title>Dmitry Zelinsky</title>
  </head>
  <body>
    <header class="header">
      <div class="header_holder">
        <a class="logo" href="/">
          Dmitry Zelinsky
          <div>
            Ai, interactions, branding
          </div>
        </a>

        <nav class="menu">
          <a href="" class="menu_link">
            about
          </a>
        </nav>

      </div>
    </header>

    <div class="socials">
      <a href="" class="socials_link">
        dribble
        <span class="socials_link-mobile">dr</span>
      </a>
      <a href="" class="socials_link">
        instagram
        <span class="socials_link-mobile">ig</span>
      </a>
      <a href="" class="socials_link">
        linkedin
        <span class="socials_link-mobile">ln</span>
      </a>
      <a href="" class="socials_link">
        tik tok
        <span class="socials_link-mobile">tk</span>
      </a>
      <a href="" class="socials_link">
        telegram
        <span class="socials_link-mobile">tg</span>
      </a>
      <a href="" class="socials_link">
        let's chat
        <span class="socials_link-mobile">let's chat</span>
      </a>
    </div>

    <main>
      <slot />
    </main>

    <footer class="footer">
    </footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
