$img: "/public/images";

$color: #000;
$cLight: #fff;
$cBlue: #0350E0;
$cGray: #B0B0BF;
$cGrayDark: #787891;
$cBright: #CDF52D;
$cGreen: #D1FE17;
$cGreenDark: #7E9C07;
$cPurple: #BF9FFF;
$cCard: #131218;

$font-family: 'Alte Haas Grotesk', helvetica, arial;
$font-family-paradigm: 'Paradigm', helvetica, arial;
$font-family-grit: 'Grit', helvetica, arial;

$font-size: 16px;
$font-size__small: 20px;

$max-width: 1664px;
$indent: 16px;

// easings
$easingSmooth: cubic-bezier(0.38, 0.005, 0.215, 1);
$easeOutCirc: cubic-bezier(.07, .82, .17, 1);
$easeInOutCirc: cubic-bezier(.78, .13, .15, .86);
$easeInCirc: cubic-bezier(.6, .04, .98, .34);
$easing: $easingSmooth;
