.intro {
  padding-bottom: 24px;
  position: relative;
  z-index: 1;
  background: $cLight;

  &_title {
    padding: 0 16px 80px;
    text-align: left;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    @include tablet {
      padding-bottom: 144px;
      padding-left: 32px;
      padding-right: 32px;
      font-size: 68px;
      line-height: 80px;
    }
    @include desktop {
      font-size: 82px;
      line-height: 96px;
    }

    span {
      font-family: $font-family-grit;
      font-weight: 300;
      font-size: 34px;
      line-height: 1.2;
      @include tablet {
        font-size: 70px;
      }
      @include desktop {
        font-size: 82px;
        line-height: 96px;
      }
    }
  }

  &_line {
    padding: 0 16px;
    overflow: hidden;
    @include tablet {
      gap: 56px;
      padding-left: 32px;
      padding-right: 32px;
      margin: 0;
    }
  }

  &_logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 38px;
    @include tablet {
      gap: 56px;
      margin: 0;
    }
  }

  &_logo {
    &__tablet {
      display: none;
      @include tablet {
        display: block;
      }
    }
    &__desktop {
      display: none;
      @include desktop {
        display: block;
      }
    }
  }
}
