.intro {
  margin-bottom: 24px;

  &_title {
    padding: 0 16px 80px;
    text-align: left;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    @include tablet {
      padding-bottom: 144px;
      padding-left: 32px;
      padding-right: 32px;
      font-size: 68px;
      line-height: 80px;
    }
    @include desktop {
      font-size: 82px;
      line-height: 96px;
    }

    span {
      font-family: $font-family-grit;
      font-weight: 300;
      font-size: 34px;
      line-height: 1.2;
      @include tablet {
        font-size: 70px;
      }
      @include desktop {
        font-size: 82px;
        line-height: 96px;
      }
    }
  }

  &_line {

  }

  &_logos {
    display: flex;
    align-items: center;
    gap: 38px;
    @include tablet {
      gap: 56px;
    }
  }
}
