.visionary {
  padding: 0 16px;
  background: #F2EFEA;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  gap: 16px;
  padding: 24px $indent 0;
  position: relative;
  z-index: 2;
  @include tablet {
    padding: 32px 28px 0;
  }

  &_button {
    @include button;
    text-transform: uppercase;
    pointer-events: none;
  }

  &_title {
    padding: 0 0 80px;
    text-align: left;
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    margin: 0;
    @include tablet {
      padding-bottom: 144px;
      font-size: 68px;
      line-height: 80px;
    }

    span {
      font-family: $font-family-grit;
      font-weight: 300;
      font-size: 33px;
      @include tablet {
        font-size: 70px;
      }
    }
  }
}
