.visionary {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
  padding: 112px $indent;
  @include tablet {
    padding: 160px 0;
  }

  &_text {
    font-size: 28px;
    line-height: 32px;
    margin: 0;
    @include tablet {
      font-size: 56px;
      line-height: 56px;
      max-width: 620px;
    }

    span {
      font-family: $font-family-paradigm;
      font-weight: 300;
    }
  }
}
